---
layout: default
---

<div class="jumbotron rounded-0">
    <div class="container text-center text-white">
        <h1 class="display-4 text-white">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
    </div>
</div>

<div class="container">
    {{ content }}

    <div class="">
    {%- for post in site.posts -%}

        <div class="card mt-4 mb-5 p-0 rounded-0 align-middle border-light">
            
            <img src="{{ post.header_image }}" class="card-img rounded-0" alt="{{ post.header_image_caption }}">

            <div class="card-body px-0">
                <h3 class="card-title"><a class="post-link stretched-link text-pab-green" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
                <p class="card-text">{{ post.excerpt | strip_html }}</p>
                {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
                <p class="card-text text-muted">
                    <small>{{ site.author }} • {{ post.date | date: date_format }}</small>
                </p>
            </div>

        </div>

    {%- endfor -%}
    </div>
</div>