---
layout: default
---

<article itemscope itemtype="http://schema.org/Article">
    <div class="jumbotron rounded-0">
        <div class="container text-center text-white">
            <h1 class="display-4 text-white">{{ page.title }}</h1>
            {%- assign date_format = "%B %-d, %Y" -%}
            <div class="lead">
                <span itemprop="author">{{ site.author }}</span> •
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
            </div>
        </div>
    </div>

    <div class="container">
        {% include image.html url=page.header_image caption=page.header_image_caption %}

        {{ content }}
    </div>

</article>